/* Universal styles */

html {
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.flex {
  display: flex;
}

/* Banner and menu */

.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
}
.logo-and-menu {
  display: flex;
  background-color: cadetblue;
  color: white;
  margin: 1rem 0 0 0;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}
nav ul {
  display: flex;
}
nav li {
  padding: 1rem 2rem;
}
.slogan {
  background: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  margin: 10rem -2rem 0 auto;
}

/* Our offer */

.our-offer .flex.container {
  height: 8rem;
  justify-content: center;
  padding: 3rem 0;
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  margin: 0 5rem;
}
.offer.exams img {
  width: 3.5rem;
}
.offer.fittings img, .offer.delivery img{
  width: 5rem;
}
.our-offer .description {
  text-align: center;
  margin-top: auto;
  align-items: flex-end;
}

/* Business info */
.info {
  width: 35%;
  margin: 0 5%;
}

.info .title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem 0;
}
footer .flex.container {
  align-items: center;
}
footer img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
